[DEFAULT]
# NOTE: You may NOT use inline comments! Inline comments will be recognized as part of the value!
#comdirect login data
# PLEASE NOTE:
# The values for user, pw, clientID and clientSecret are PRIVATE and SENSITIVE. NEVER share them with ANYONE!
# Die Werte für user, pw, clientID und clientSecret sind GEHEIM und SCHÜTZENSWERT. Teile sie NIEMALS mit irgendjemanden!
user=Zugangsnummer
pwd=PIN/Passwort

#comdirect API access data (https://kunde.comdirect.de/itx/oauth/privatkunden)
#ClientID+Secret, die via API Access abrufbar ist (https://kunde.comdirect.de/itx/oauth/privatkunden)
clientId=**** 
clientSecret=****

#output directory
outputDir=Dokumente

#dryRun [True/False], bei dryRun=True wird nichts heruntergeladen; nur simuliert
dryRun=False

#useSubFolders[True/False], bei True werden Dokumente in Unterverzeichnisse sortiert ()
useSubFolders=False

#downloadOnlyFilenames [True/False], bei True werden nur Dateien heruntergeladen, die mit einem bestimmten Namen anfangen. Alle anderen werden übersprungen.
downloadOnlyFilenames=True
# gehört zu downloadOnlyFilenames: hier werden die Dateinamen angegeben, welche heruntergeladen werden sollen als Dictionary: 
downloadOnlyFilenamesArray={"Finanzreport", "Jahressteuerbescheinigung", "Wertpapierabrechnung", "Steuermitteilung", "Gutschrift", "Dividendengutschrift", "Ertragsgutschrift"}

#[True/False], if True, only documents in archive will be downloaded
downloadOnlyFromOnlineArchive=True

#not yet used WIP
range=
#useLocalArchive=
#localArchiveDir=
#moveToLocalArchiveBeforeDate=
